[settings]
api_url = https://hackatime.hackclub.com/api/hackatime/v1
api_key = {{key}}
heartbeat_rate_limit_seconds = 30

# any other wakatime configs you want to add: https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md#ini-config-file
